/*
 * @author : @MJ
 * Date    : 5/19/2023
 * Time    : 11:19 AM
 * Project : INP
 * Created by IntelliJ IDEA.
 */

.body{
    -fx-background-image: url(image/2193.jpg);
    /*-fx-background-size: contain;*/
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

}